<h1>New Recipe</h1>

<%= form_tag recipes_path do %>
  <p>
    <%= label_tag "recipe_form[title]", "Title" %>
    <%= text_field_tag "recipe_form[title]" %>
  </p>
  <p>
    <%= label_tag "Ingredients:" %>
    <br>
    <% Ingredient.all.each do |ingredient| %>

      <%= check_box_tag "recipe_form[ingredients][]", ingredient.id, false, id: "ingredient_#{ingredient.id}" %>
      <%= label_tag "ingredient_#{ingredient.id}", "#{ingredient.name}" %>

      <!-- Here we nest another form_tag? -->



      <br>
    <% end %>

  <%= label_tag "recipe_form[ingredient][name]", "New Ingredient" %> <br>
  <%= text_field_tag "recipe_form[ingredient][name]" %> <br>






  </p>
  <p>
    <%= label_tag "recipe_form[directions]", "Directions" %>
    <%= text_area_tag "recipe_form[directions]" %>
  </p>
  <p>
    <%= label_tag "recipe_form[image]", "Image Link" %>
    <%= text_field_tag "recipe_form[image]" %>
  </p>
  <%= submit_tag %>
<% end %>



<p></p><p></p>
