<h1><%= @recipe.title %></h1>

<img src="<%= @recipe.image %>" height = 200px>
<%= @recipe.directions %>
<br>
<% @recipe.ingredients.each do |f| %>
<%= f.name %>
<br>
<% end %>

<%= link_to "Edit", recipes_edit_path(@recipe), class:"btn btn-default" %> &nbsp
<%= link_to "DELETE", recipes_destroy_path(@recipe), class: "btn btn-danger" %>
